.btn {
  text-transform: uppercase;
  font-size: @font-size;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  display: block;
  padding: 10px 0;
  border-radius: 50px;

  &--orange {
    background-color: @orange;
    width: 183px;

  }

  &--green {
    border: 2px solid #ffffff;
    width: 145px;
    padding: 8px 0;
    margin: 0 auto;
  }
}
