.btn {
  text-transform: uppercase;
  font-size: @font-size;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  width: 183px;
  display: block;
  padding: 10px 0;

  &--orange {
    background-color: @orange;
    border-radius: 50px;
  }
}
