.healthy-holidays {

  &__inner {
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    padding-bottom: 40px;
    background-image: url("../../img/background-view.png");
    border-bottom: 1px solid #ffffff;
    background-position: center;
    background-size: cover;


    @media (min-width: @screen-sm) {
      width: @container-sm;
      background-origin: content-box;
      background-clip: content-box;
      background-size: cover;
    }

    @media (min-width: @screen-lg) {
      width: 890px;
      background-origin: content-box;
      background-clip: content-box;
      background-size: cover;
    }
  }

  &__title  {
    font-family: @font-family-title;
    font-size: 30px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    width: 152px;
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto;
    padding: 0;

    width: 260px;

    @media (min-width: @screen-sm) {
      display: block;
    }

    @media (min-width: @screen-lg) {
      max-width: 587px;
    }

  }

  &__list {
    display: none;

    @media (min-width: @screen-sm) {
      display: block;
    }

    @media (min-width: @screen-lg) {
      display: block;
    }

  }




}
