.options {
  background-color: @green;
   &__inner {

     width: 280px;

     margin: 0 auto;
     border-top: 1px solid @green;
     border-bottom: 1px solid @green;

     @media (min-width: @screen-sm) {
       width: @container-sm;
     }

     @media (min-width: @screen-lg) {
       width: @container-lg;
     }
   }

  &__title {
    font-family: @font-family-title;
    color: #FFFFFF;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin-top: 50px;
  }

  &__blocks {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 50px;


    @media (min-width: @screen-sm) {
      flex-direction: row;
    }

    @media (min-width: @screen-lg) {
      flex-direction: row;
    }

  }



}

.column-block {
  background-color: #fff;
  text-align: center;


  &:first-child {
    margin-bottom: 20px;
  }

  &__img {
    max-width: 100%;
  }

  &__text {
    padding: 40px 0;
  }

  &__option {
    font-family: @font-family-title;
    font-size: 26px;
    line-height: 19px;
  }

  &__cost {
    margin: 0;
    padding: 0;
    font-size: 18px;

    &--orange {
      color: @orange;
      font-weight: 700;
    }
  }
  // object-fit: cover;
  // height

}
