.photo {
  &__inner {
    margin: 40px auto;

    @media (min-width: @screen-sm) {
      width: @container-sm;
    }

    @media (min-width: @screen-lg) {
      width: @container-lg;
    }
  }

  &__main-slider {
    //width: 100%;
    padding: 0;
    margin: 0;
  }


  &__slider {
    display: none;
    padding: 0;
    margin: 0;

    @media (min-width: @screen-lg) {
      display: block;
    }
  }

  &__main-item {
    height: 500px;
    img {

      object-fit: cover;
      //width: 100%;
    }
  }

  &__item {




    @media (min-width: @screen-lg) {
      //width: 196px;
      //height: 130px;
      object-fit: cover;
      &:focus {
        outline: none;
      }
    }

  }


}


