.photo {
  &__inner {
    margin: 40px auto;



    @media (min-width: @screen-sm) {
      width: @container-sm;
    }

    @media (min-width: @screen-lg) {
      width: @container-lg;
    }
  }

  &__zoom img {
    max-width: 100%;
  }

  &__slider {
    display: none;
  }
}


